[submodule "hachiware"]
	path = hachiware
	url = https://github.com/Config-Guardians/hachiware
[submodule "steampipe"]
	path = steampipe
	url = https://github.com/Config-Guardians/steampipe-sidecar
[submodule "agent-system"]
	path = agent-system
	url = https://github.com/Config-Guardians/agent-system.git
