name: Config-Guardians

services:
  ssewatch:
    container_name: ssewatch
    image: zachareee/ssewatch
    build: ./SSE-watcher
    depends_on:
      hachiware:
        condition: service_healthy

  hachiware:
    container_name: hachiware
    image: zachareee/hachiware
    build: ./hachiware
    ports:
      - 4000:4000
    environment:
      SIDECAR_HOST: steampipe:8080
      DATABASE_URL: postgres://postgres:postgres@hachiware-db:5432/postgres
      STEAMPIPE_DATABASE_URL: postgres://steampipe:password@steampipe:9193/steampipe
    depends_on:
      steampipe:
        condition: service_healthy
      hachiware-db:
        condition: service_started
    develop:
      watch:
        - path: ./hachiware
          action: sync
          target: /app
    healthcheck:
      test: ["CMD-SHELL", "curl -s http://localhost:4000/api/swaggerui"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 20s

  steampipe:
    container_name: steampipe
    build: ./steampipe
    image: zachareee/steampipe-sidecar
    ports:
      - 8080:8080
      - 9193:9193
    develop:
      watch:
        - path: ./steampipe
          action: rebuild
    healthcheck:
      test: ["CMD-SHELL", "curl -s http://localhost:8080"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 20s

  dashboard:
    container_name: dashboard
    build:
      args:
        - NEXT_PUBLIC_HACHIWARE_URL=http://localhost:4000/api
      context: ./dashboard
    develop:
      watch:
        - path: ./dashboard/app
          action: rebuild
    ports:
      - "3000:3000"
    environment:
      NEXT_PUBLIC_HACHIWARE_URL: http://hachiware:4000/api
    depends_on:
      - hachiware

  hachiware-db:
    container_name: hachiware-db
    image: postgres:17.6
    environment:
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"

  agent-system:
    container_name: agent-system
    platform: linux/amd64
    build: ./agent-system
    depends_on:
      hachiware:
        condition: service_healthy
    environment:
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      HACHIWARE_ENDPOINT: http://hachiware:4000
      PYTHONUNBUFFERED: 1
      OLLAMA_HOST: ${OLLAMA_HOST}
      GITHUB_TOKEN: ${GITHUB_TOKEN}
#     volumes:
#       - smbdata:/app/agents/faiss_index
#
# volumes:
#   smbdata:
#     driver_opts:
#       type: cifs
#       o: username=${SMB_USER},password=${SMB_PASS},vers=3.0
#       device: //10.8.0.52/shared/faiss_index_qwen
